REACT_APP_API_KEY="your_value"
REACT_APP_AUTH_DOMAIN="your_value"
REACT_APP_PROJECT_ID="your_value"
REACT_APP_STORAGE_BUCKET="your_value"
REACT_APP_MESSAGING_ID="your_value"
REACT_APP_APP_ID="your_value"